.post-buttons {
    text-align: right;
    min-height: 15px;
    font-size: 108%;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

.post-buttons-large {
    text-align: right;
    min-height: 15px;
    font-size: 125%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    margin-left: 5px;
    padding-bottom: 10px;
}

.hover-button {
    opacity: 0%;
    transition: opacity 0.1s;
}

.post-buttons a,
.post-buttons a:visited,
.post-buttons input,
.post-buttons button {
    border-radius: 5px;
    margin-right: 5px;
    color: rgb(236, 236, 236);
    padding: 3px;
    padding-right: 18px;
    padding-left: 18px;
    text-decoration: none;
}

.post-buttons-large a,
.post-buttons-large a:visited {
    border-radius: 5px;
    margin-right: 5px;
    color: rgb(236, 236, 236);
    padding: 4.5px;
    padding-right: 32px;
    padding-left: 32px;
    text-decoration: none;
}

.post-buttons a:hover {
    text-shadow: 1px 1px 8px #afb7ff;
    color: white;
}

.button-blue {
    background: -webkit-linear-gradient(rgb(123, 114, 207) 0%, rgb(91, 83, 153) 100%);
    background-image: linear-gradient(rgb(123, 114, 207) 0%, rgb(91, 83, 153) 100%);
}

.button-blue:hover {
    text-shadow: 2px 1px 8px #b7befd;
    background: -webkit-linear-gradient(rgb(83, 147, 207) 0%, rgb(58, 109, 156) 100%);
    background-image: linear-gradient(rgb(83, 147, 207) 0%, rgb(58, 109, 156) 100%);
}

.button-red {
    background: -webkit-linear-gradient(rgb(209, 63, 63) 0%, rgb(155, 56, 56) 100%);
    background-image: linear-gradient(rgb(209, 63, 63) 0%, rgb(155, 56, 56) 100%);
}

.button-red:hover {
    text-shadow: 2px 1px 8px #b7befd;
    background: -webkit-linear-gradient(rgb(230, 49, 49) 0%, rgb(211, 51, 51) 100%);
    background-image: linear-gradient(rgb(230, 49, 49) 0%, rgb(211, 51, 51) 100%);
}

.button-grey {
    background: -webkit-linear-gradient(rgb(170, 170, 170) 0%, rgb(100, 100, 100) 100%);
    background-image: linear-gradient(rgb(170, 170, 170) 0%, rgb(100, 100, 100) 100%);
}

.button-grey:hover {
    text-shadow: 2px 1px 8px #b7befd;
    background: -webkit-linear-gradient(rgb(179, 179, 179) 0%, rgb(109, 109, 109) 100%);
    background-image: linear-gradient(rgb(179, 179, 179) 0%, rgb(109, 109, 109) 100%);
}
