@import url("bbt.css");


body {
    background: linear-gradient(to bottom, #6f79e2, #b7baff);
    background-size: cover;
    background-position: center;
  
    font-family: "Roboto", sans-serif;
    margin: 20px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 10px;
    background-color: #e3e1fa; 
    border: solid 2px #9799cc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    transition: transform 0.5s ease;
}

.section {
    margin-bottom: 20px;
}

.section img {
    width: 50px; 
    height: 50px;
    float: left;
    margin-right: 15px;
	transition: 0.2s;
}
   .section img:hover {
            opacity: 0;
            transform: scale(5) rotate(30deg);
            -moz-transform: scale(5) rotate(30deg);
            -webkit-transform: scale(5) rotate(30deg);
            -o-transform: scale(5) rotate(30deg);
        }

.section h2 {
    font-size: 24px;
    margin: 0 0 10px 0;
    color: #e15fac; 
    text-shadow: #efcfe1 0px 0px 10px; 
}

.section p {
    font-size: 16px;
    line-height: 1.5;
    margin: 5px 0;
}

.columns {
    display: flex;
    justify-content: space-between;
}

.columns .column {
    width: 30%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
    border-style: solid;
    border-color: #d2d4fa;
    border-radius: 5px;
    filter: drop-shadow(0px 1px 1px #e5e4e9);
    color: #323232;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 0px 1px 1px #e5e4e9;
    transition: transform 0.5s ease; 
}

.styled-table {
    -webkit-border-radius: 4px;
    border: solid 2px #9799cc; 
    border-radius: 4px;
    text-align: left;
    font-weight: normal;
    font-size: 8.5pt;
    width: 100%;
}

.dark-row {
    background-color: #e3e1fa; 
}

.light-row {
    background-color: #edebfa; 
}

.blurb-box {
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
    border-style: solid;
    border-color: #d2d4fa;
    border-radius: 5px;
    filter: drop-shadow(0px 1px 1px #e5e4e9);
    color: #323232;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 0px 1px 1px #e5e4e9;
}
 	  
.link-list {
    list-style-type: none;
    padding-left: 0;
}

.link-list li {
   
}

.link-list li a {
    text-decoration: none;
    font-size: 20px;
    color: #3843a6;
    transition: color 0.3s ease;
}

.link-list li a:hover {
    color: #e15fac;
    text-decoration: underline;
}


.headers {
    margin-bottom: 10px;
    margin-top: 10px;
	color: #e15fac; 
    text-shadow: #efcfe1 0px 0px 10px; 
}

.headers span {
    font-size: 50%;
    margin-left: 5px;
	color: #e15fac; 
    text-shadow: #efcfe1 0px 0px 10px; 
}


.image-container {
    width: 100%; 
    max-width: 640px; 
    aspect-ratio: 16 / 9; 
    
}

.image-container img {
    width: 100%;
    height: auto;
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
